<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="https://wendywang.herokuapp.com/img/profile.png"/>
    <meta property="og:url" content="ttps://wendywang.herokuapp.com"/>
    <meta property="og:title" content="Check out Wendy's website!" />
    <meta property="fb:app_id" content="254129878333702"/>
    <title>Wendy Wang</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=254129878333702";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">Wendy Wang</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Projects</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">Skills</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <style>
                    .user{
                        -webkit-border-radius:50%;
                        -moz-border-radius:50%;
                        border-radius:50%;
                        width: 250px;
                        height: 250px;
                    }
                </style>
                <img class="user" src="img/profile.png" alt="">
                <div class="intro-text">
                    <span>Hi, my name is Wendy Wang. I am a software developer and data analyst. I am currently studying at the University of British Columbia for my undergraduate studies. I love building web apps, mobile apps and analyze data. Here's my experience:</span>
                </div>
                <div>
                    &nbsp;
                </div>
                <div class='col-md-offset-2 col-md-8'>
                            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                                <!-- Bottom Carousel Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#quote-carousel" data-slide-to="1"></li>
                                    <li data-target="#quote-carousel" data-slide-to="2"></li>
                                    <li data-target="#quote-carousel" data-slide-to="3"></li>
                                </ol>
                                <!-- Carousel Slides / Quotes -->
                                <div class="carousel-inner">
                                    <!-- Quote 1 -->
                                    <div class="item active">

                                            <div class="row">
                                                <div class="col-sm-3 text-center">
                                                    <img src="img/sap_logo.png" style="width: 250px;height:130px;">
                                                </div>
                                                <div>
                                                    &nbsp;
                                                </div>
                                                <div class="col-sm-9">
                                                    <p>SAP Canada</p>
                                                    <h5>Full Stack Developer Intern</h5>
                                                </div>
                                            </div>

                                    </div>
                                    <!-- Quote 2 -->
                                    <div class="item">

                                            <div class="row">
                                                <div class="col-sm-3 text-center">
                                                    <img src="img/tio_logo.png" style="width: 300px;height:130px;">
                                                </div>
                                                <div>
                                                    &nbsp;
                                                </div>
                                                <div class="col-sm-9">
                                                    <p>TIO Networks Corp</p>
                                                    <h5>QA Analyst Intern</h5>
                                                </div>
                                            </div>

                                    </div>
                                    <!-- Quote 3 -->
                                    <div class="item">
                                            <div class="row">
                                                <div class="col-sm-3 text-center">
                                                    <img src="img/poisson_logo.png" style="width: 130px;height:130px;">
                                                </div>
                                                <div>
                                                    &nbsp;
                                                </div>
                                                <div class="col-sm-9">
                                                    <p>Poisson Consulting Ltd.</p>
                                                    <h5>Software Test Engineer Contractor</h5>
                                                </div>
                                            </div>

                                    </div>
                                    <!-- Quote 4 -->
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-3 text-center">
                                                <img src="img/ubc_logo.png" style="width: 110px;height:130px;">
                                            </div>
                                            <div>
                                                &nbsp;
                                            </div>
                                            <div class="col-sm-9">
                                                <p>University of British Columbia</p>
                                                <h5>Research Assistant</h5>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Carousel Buttons Next/Prev -->
                                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/comiccollab_front.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sp_500.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/titanic.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/vegan_kit.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/personalproject.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>
                    Education:
                </p>
                <p>
                    University of British Columbia (2013 May - 2017 December)
                </p>
                <p>
                    Major:
                </p>
                <p>
                    Combined Major in Computer Science and Statistics
                </p>
                <p>
                    Key Technical Areas:
                </p>
                <p>
                    Web Applications, Mobile Applications, API Design, UI/UX
                </p>
                </div>
            <div class="col-lg-6">
                <p>Java</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    </div>
                </div>
                <p>Javascript</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                    </div>
                </div>
                <p>Node.js</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                    </div>
                </div>
                <p>ABAP</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    </div>
                </div>
                <p>R</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="pdfs/resume_WendyWang.pdf" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Resume
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <ul class="list-inline" style="position: center">
                    <li>
                        <a href="https://www.facebook.com/wendymunmunwang"><i class="fa fa-facebook fa-1x"></i></a>
                    </li>
                    <li>
                        &nbsp;
                    </li>
                    <li>
                        <a href="https://ca.linkedin.com/in/wendymunmunwang" ><i class="fa fa-linkedin fa-1x"></i></a>
                    </li>
                    <li>
                        &nbsp;
                    </li>
                    <li>
                        <a href="https://github.com/WendyMunmunWang"><i class="fa fa-github fa-1x"></i></a>
                    </li>
                </ul>
                <div class="fb-like" data-href="https://wendywang.herokuapp.com/" data-layout=""
                     data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Wendy Wang 2017
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <a href="http://comiccollab.herokuapp.com/">
                            <h2>Comic Collab</h2>
                        </a>
                        <hr class="star-primary">
                        <p>Comic Collab is a free website where users can collaboratively create and share comics!</p>
                        <ul class="list-inline">
                            <li>Tools:
                                <strong><a>Node.js, Bootrap, HTML, CSS, Mongo DB, Heroku</a></strong>
                            </li>
                            <li>Date:
                                <strong><a>2016 January - 2016 April</a></strong>
                            </li>
                        </ul>
                        <a href="http://comiccollab.herokuapp.com/">
                            <img src="img/comiccollab_front.png" class="img-responsive img-centered" alt="" style="height: 400px; width: 600px;">
                        </a>
                        <a href="http://comiccollab.herokuapp.com/">
                            <img src="img/comiccollab_detail.png" class="img-responsive img-centered" alt="" style="height: 400px; width: 600px;">
                        </a>
                        <p align="left">My Responsibilities:</p>
                        <p align="left">
                            - Acted as a feature product owner, developer and project manager in a team of 4; designed and implemented a full stack web application
                            for people to collaborate in comics.
                        </p>
                        <p align="left">
                            - Participated in app design, relationship database design, frontend framework setup; Implemented features such as create user
                            profile, user logout, integration with Tumblr API and DeviantArt API, etc.
                        </p>
                        <p align="left">
                            - Deployed to Heroku Cloud Application Platform and have increased amount of users.
                        </p>
                        <div class="col-lg-12 text-center">
                            <ul class="list-inline" style="position: center">
                                <li>
                                    <a href="http://comiccollab.herokuapp.com/"><i class="fa fa-external-link fa-2x"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/WendyMunmunWang/weCode2.0"><i class="fa fa-github fa-2x"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>S&P 500 Index Analysis and Prediction</h2>
                        <hr class="star-primary">
                        <p>We use ARIMA, transformed ARIMA, and Holt's Winter models to predict future S&P 500 trend.</p>
                        <ul class="list-inline">
                            <li>Tools:
                                <strong><a>R, Git</a></strong>
                            </li>
                            <li>Date:
                                <strong><a>2016 Feburary - 2016 March</a></strong>
                            </li>
                        </ul>
                        <img src="img/sp_500.png" class="img-responsive img-centered" alt="">
                        <p align="left">My Responsibilities:</p>
                        <p align="left">
                            - Built suitable models using S&P 500 dataset with ARIMA, transformed ARIMA, and Holt's Winter models to predict future
                            S&P 500 trend.
                        </p>
                        <p align="left">
                            - Took initiative to implement ARIMA model in R code, created data visualization and written the analysis paper.
                        </p>
                        <div class="col-lg-12 text-center">
                            <ul class="list-inline" style="position: center">
                                <li>
                                    <a href="https://github.com/WendyMunmunWang/timeseries443"><i class="fa fa-github fa-2x"></i></a>
                                </li>
                                <li>
                                    <a href="pdfs/STAT443GroupProject.pdf"><i class="fa fa-external-link fa-2x"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>RMS Titanic Data Analysis</h2>
                        <hr class="star-primary">
                        <p>We use logistic models to predict what sorts of people are likely to survive in titanic tragedy.</p>
                        <ul class="list-inline">
                            <li>Tools:
                                <strong><a>R</a></strong>
                            </li>
                            <li>Date:
                                <strong><a>2016 Feburary - 2016 March</a></strong>
                            </li>
                        </ul>
                        <img src="img/titanic.png" class="img-responsive img-centered" alt="">
                        <p align="left">My Responsibilities:</p>
                        <p align="left">
                            - Analyzed and implemented logistical models using R to predict what sorts of people are likely to survive in Titanic
                            tragedy; out-of-sample misclassification rate is around 20%.
                        </p>
                        <p align="left">
                            - Took initiative to start implementing R code and managed development tasks in the team.
                        </p>
                        <div class="col-lg-12 text-center">
                            <ul class="list-inline" style="position: center">
                                <li>
                                    <a href="https://github.com/WendyMunmunWang/TitanicAnalysis"><i class="fa fa-github fa-2x"></i></a>
                                </li>

                                <li>
                                    <a href="pdfs/STAT306FinalProject.pdf"><i class="fa fa-external-link fa-2x"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                         <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Vegan Kitchen API</h2>
                        <hr class="star-primary">
                        <p>We built an API which allows users to share their vegan recipes!</p>
                        <ul class="list-inline">
                            <li>Tools:
                                <strong><a>Java, Maven</a></strong>
                            </li>
                            <li>Date:
                                <strong><a>2015 October - 2015 December</a></strong>
                            </li>
                        </ul>
                        <img src="img/vegan_kit.png" class="img-responsive img-centered" alt="">
                        <p align="left">My Responsibilities:</p>
                        <p align="left">
                            - With a team of two, we designed and implemented a RESTful API for people to upload and collaborate
                            their vegan reciples.
                        </p>
                        <p align="left">
                            - Participated in relational database design, API design and implementation, and unit tests design and
                            implementation.
                        </p>
                        <div class="col-lg-12 text-center">
                            <ul class="list-inline" style="position: center">
                                <li>
                                    <a href="https://github.com/WendyMunmunWang/vegan-kitchen-api"><i class="fa fa-github fa-2x"></i></a>
                                </li>
                                <li>
                                    <a href="http://comiccollab.herokuapp.com/"><i class="fa fa-external-link fa-2x"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <a href="http://wendywang.herokuapp.com/">
                            <h2>My personal website</h2>
                        </a>
                        <hr class="star-primary">
                        <ul class="list-inline">
                            <li>Tools:
                                <strong><a>Node.js, Javascript, HTML, CSS, Heroku</a></strong>
                            </li>
                            <li>Date:
                                <strong><a>2017 January</a></strong>
                            </li>
                        </ul>
                        <img src="img/personalproject.png" class="img-responsive img-centered" alt="">
                        <p align="left">My Responsibilities:</p>
                        <p align="left">
                            - Designed and built a mobile friendly personal website using node.js, HTML, CSS under 3 days.
                        </p>
                        <p align="left">
                            - Implemented additional functionality such as Facebook Likes and Share integration using Facebook API, Moving Box integration, bug fixes.
                        </p>
                        <p align="left">
                            - Tested and Deployed to Heroku Cloud Platform.
                        </p>
                        <p align="left">
                            - Continue to come up with more features and improve the app.
                        </p>
                        <div class="col-lg-12 text-center">
                            <ul class="list-inline" style="position: center">
                                <li>
                                    <a href="https://github.com/WendyMunmunWang/personalwebsite"><i class="fa fa-github fa-2x"></i></a>
                                </li>
                                <li>
                                    <a href="http://wendywang.herokuapp.com/"><i class="fa fa-external-link fa-2x"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="js/freelancer.min.js"></script>

</body>

</html>
